.preview {
  height: calc(100vh - 122.58px);
  position: relative;
  margin-bottom: 134px;
  background-image: url(../img/preview-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -40px;
  border-radius: 56px 55px 0 0;
  @media (max-width: 1420px) {
    height: auto;
    margin-bottom: 122px;
    background-image: url(../img/preview-bg-table.webp);
  }
  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
    background-image: url(../img/preview-bg-mob.webp);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 100%;
    height: 50%;

    background: linear-gradient(
      180deg,
      rgba(19, 19, 19, 0),
      rgba(19, 19, 19, 1)
    );
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__content {
    max-width: 686px;
    position: absolute;
    left: 100px;
    bottom: 96px;
    @media (max-width: 1420px) {
      max-width: 100%;
      position: relative;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding-top: 540px;
    }

    @media (max-width: $tablet-width) {
      padding-top: 263px;
    }
  }

  &__title {
    &.title {
      margin-bottom: 40px;

      @media (max-width: $tablet-width) {
        margin-bottom: 20px;
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.79);
    @media (max-width: 1420px) {
      max-width: 447px;
    }
    @media (max-width: $tablet-width) {
      font-size: 14px;
      max-width: 293px;
      margin-bottom: 18px;
    }
  }
  &__button {
    margin-left: 9px;
    &.button {
      @media (max-width: $tablet-width) {
        margin-left: 3px;

        min-width: fit-content;
        padding: 16px 40px;

        min-height: 40px;
      }
    }
  }
}
