<section class="cards">
  <div class="container">
    <h2 class="cards__title title">Карточки</h2>
    <div class="cards__wrapper">
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-1.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">BRIDGE</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-2.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">Water</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-3.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">BRIDGE</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-4.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">BRIDGE</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-5.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">BRIDGE</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-6.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">forest</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-7.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">nature</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-8.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">nature</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-9.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">nature</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
      <article class="cards__card card">
        <div class="card__image-wrapper">
          <img src="./img/card-img-10.webp" alt="Coins" class="card__image" />
        </div>
        <div class="card__content">
          <h3 class="card__category">nature</h3>
          <p class="card__title">
            How to increase your productivity with Music
          </p>
          <p class="card__description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            santium doloremque laudantium, totam rem sed ut perspiciatis unde
            omnis iste natus error sit voluptatem accusantium dolo…
          </p>
          <p class="card__date">
            Posted by <span>Eugenia</span> on July 24, 2019
          </p>
          <button class="card__button button button--fill">
            Continue reading
          </button>
        </div>
      </article>
    </div>
    <div class="cards__load-more-wrapper">
      <div class="spinner"></div>
      <button class="cards__load-more button button--secondary" id="load-more">
        <span class="cards__load-more-span">Загрузить еще</span>
      </button>
    </div>
  </div>
</section>
