@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

$color-bg: #131313;
$color-brown: #c2ab81;
$color-border-gray: #808080;
$color-black: #171717;
$color-text: #666666;
$color-white: #fff;

$mobile-width: 360px;
$tablet-width: 767px;
$desktop-width: 1920px;

.body {
  position: relative;
  min-height: 100vh;
  font-size: 15px;
  margin: 0;
  padding-bottom: 72px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $color-white;
  background-color: $color-bg;
  &.open {
    overflow-y: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-white;
  transition: color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 21px 40px;
  min-width: 260px;
  min-height: 60px;
  background-color: $color-brown;
  color: $color-white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transform: skew(-17deg);
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  @media (max-width: $tablet-width) {
    min-width: auto;
  }
  span {
    display: inline-block;
    transform: skew(17deg);
  }

  &--secondary {
    &::after {
      content: "";
      position: absolute;
      right: -14px;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: $color-white;
    }
    &:hover {
      transform: scale(1.05) skew(-17deg);
    }
  }

  &--outline {
    overflow: hidden;
    padding: 0;
    min-width: 75px;
    color: #808080;
    background-color: transparent;
    border: 1px solid #808080;
    &:hover {
      transform: scale(1.05) skew(-17deg);
    }
  }
  &--fill {
    font-family: "Mulish", sans-serif;
    padding: 16px 40px;
    width: 100%;
    min-height: 50px;
    text-transform: none;
    transform: none;
    background-color: $color-black;
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.container {
  width: 100%;
  max-width: 2120px;
  margin: 0 auto;
  padding: 0 100px;
  @media (max-width: 1700px) {
    padding: 0 50px;
  }
  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.title {
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  @media (max-width: 1420px) {
    font-size: 38px;
  }
  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
