.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  cursor: pointer;
  background-color: #fff;
  color: $color-black;
  @media (max-width: $tablet-width) {
    min-height: auto;
  }

  &__image-wrapper {
    overflow: hidden;

    @media (max-width: $tablet-width) {
      overflow: hidden;
    }
  }
  &__image {
    display: block;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px 23.71px 30px;
  }

  &__category {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title {
    max-width: 252px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $color-text;
  }

  &__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: auto;
    span {
      font-weight: 700;
      color: $color-text;
    }
  }
}
