.cards {
  &__title {
    margin-bottom: 53px;
    @media (max-width: 1420px) {
      margin-bottom: 38px;
    }
    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 1860px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1090px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 38px;
    }
  }

  &__card {
    @media (max-width: $tablet-width) {
      max-width: 100%;
      width: 100%;
    }
  }
  &__load-more-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__load-more {
    &.button {
      @media (max-width: $tablet-width) {
        min-width: 207px;
      }
    }
  }
}


